* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
form {
  border: 2px solid brown;
  border-radius: 4px;
  width: 500px;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 10px rgb(235, 135, 198);
}
form h1 {
  text-align: center;
}
form input {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 0px 5px;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
}

form input:valid {
  outline-color: greenyellow;
}
form input:invalid {
  outline-color: red;
}

#form-info {
  text-align: center;
  margin-top: 8px;
}
/* button {
  color: blueviolet;
  width: 100px;
  cursor: pointer;
  margin: auto;
  display: flex;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 0px 10px;
} */
